<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:method="POST" th:action="@{/}" th:object="${user}">
    <label for="firstName">имя</label>
    <input name="text" th:field="*{firstName}" id="firstName" type="text"/>

    <br/>
    <br/>

    <label for="lastName">фамилия</label>
    <input name="text" th:field="*{lastName}" id="lastName" type="text"/>

    <br/>
    <br/>

    <label for="age">возраст</label>
    <input name="age" th:field="*{age}" id="age" type="number"
        min="1" max="100" required />

    <br/>
    <br/>

    <input type="submit" value="добавить пользователя"/>

</form>
</body>
</html>